# Dependencies
node_modules
package-lock.json
server/package-lock.json
server/package.json
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build
.next

# Version control
.git
.gitignore

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
output
.playwright-cli
tmp

# Testing
coverage
.nyc_output

# Misc
README.md
LICENSE
*.md
